html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
    
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	text-align: center;
	background-color: #f5f5f5;
}

table {
        width:100%;
         overflow:scroll;
     }


.fas{

    font-size: 4rem;
}
.modal-body{
  max-height: 550px;
  overflow: scroll;
}

.jumbotron {
width:90vw;
margin:auto;
padding-top: 20px;
max-height:800px;
overflow:hidden;
margin-bottom: 20px;
margin-top: 20px;
}
.buttonBottom{
width:max-content;
margin-top:20px;
padding-bottom:20px;
}

.orderItem{
width:90vw;
margin:auto;
margin-top:4px;
margin-bottom:4px;
}
#createOrderBtn {
width:90vw;
margin:auto;
margin-top:20px;
margin-bottom:20px;
}


thead {
position: sticky;top: 0; z-index: 1;background: #fff;
}

tbody {
overflow:scroll;
display: block;
max-height:600px;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}
thead {
    width: calc( 100% - 0.23em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

table {
    width: 400px;
}

.order {
padding:1px;
border-bottom:0px;
}

.orderItem {
margin-top:0px;
margin-bottom:0px;
padding-bottom:4px;
height : 20px;
}

#orderItemModal {
width : 90vw;
margin:auto;
}
#orderItemModalContent {
width : 42vw;
margin:auto;
}

#orderItemModalDialog {
width : 42vw;
margin:auto;
margin-top:20px;
max-width: 100vw;
}

#orderItemModal-body {
width : 42vw;
margin:0;
margin:auto;
}

#orderItemView {
margin:auto;
width : 41.5vw;
background : #fff;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}
td {
    text-align: center;
  }

th {
    text-align: center;
  }

.material-icons{
    font-size: 150px;
    color: lightgray;
}

.iconp{
    color : lightgray;
    font-size: 40px;
}
a.btn.btn-link:hover{
    text-decoration: none;
  text-decoration-color: lightgray;
  ;
}
.breadcrumb{
  width:90vw;
  margin-left: 40px;
background-color:white;
}

.modal#orderItemModal{
  top:7px;
  left:72px;
}
