<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>

<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a th:href="@{/ui/}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Channel</li>
    </ol>
  </nav>
  <div class="jumbotron" >
    <div class="buttonBottom">
      <button type="button" class="btn btn-primary" data-dismiss="modal" id="addBtn" onclick="addChannel()">Add Channels</button>
    </div>
    
    <table  class="table" >
        <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Invoice Type</th>
            </tr>
        </thead>

        <tbody id="channelTbody">
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled" id = "prevLi">
          <a class="page-link" href="#" tabindex="-1" onclick="prevPage()">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" id="page">1</a></li>
        <li class="page-item" id = "nextLi">
          <a class="page-link" href="#" onclick="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  

</div> <!--Container-->
<!--delete modal-->
<!--edit model-->
<div class="modal" tabindex="-1" role="dialog" id="channelEditModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="channelModalbody">
        
      </div>

    </div>
  </div>
</div>


<footer th:replace="snippets.html :: name_footer"></footer>

<script>
   $(document).ready(function() {
    document.getElementById("channelLink").style.fontWeight = "bold";
    loadChannel();
 });

</script>
<script th:src="@{/static/channel.js}"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>

</body>

</html>
