<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_site_navbar"></nav>
    <div class="container">

        <div class="container-fluid" style="margin-top: 24vh;">
            <div class="row mt-2">
                <div class="col-md-3 text-center ">
                    <a th:href="@{/ui/brands}" class="btn btn-link">
                        <span class="material-icons">
                            shopping_basket
                        </span>
                        <p class="iconp">Brand</p>
                    </a>
                </div>

                <div class="col-sm-3 text-center ">
                    <a th:href="@{/ui/products}" class="btn btn-link">
                        <span class="material-icons">
                            view_in_ar
                        </span>
                        <p class="iconp">Product</p>
                    </a>
                </div>
                <div class="col-sm-3 text-center ">
                    <a th:href="@{/ui/inventory}" class="btn btn-link">
                        <span class="material-icons">
                            shelves
                        </span>
                        <p class="iconp">Inventory</p>
                    </a>
                </div>
                <div class="col-sm-3 text-center ">
                    <a th:href="@{/ui/orders}" class="btn btn-link">
                        <span class="material-icons">
                            content_paste
                        </span>
                        <p class="iconp">Order</p>
                    </a>
                </div>
            </div>

        </div>
        <!-- <div class="jumbotron" style="width:100%">
            <div style="margin:auto;text-align:centre">
                <h1 class="display-1">Welcome</h1>
                <h1 class="display-1">To</h1>
                <h1 class="display-1">Point of Sale Project Increff</h1>
            </div>

        </div> -->


    </div>

    <footer th:replace="snippets.html :: name_footer"></footer>
    <script th:src="@{/static/app.js}" />
    </script>

    <script src="https://d3js.org/d3.v7.min.js"></script>

</body>

</html>